*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header do site */
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #3281AF;
    box-shadow: #1C1C1C 0px 8px 10px 1px;
}

header .boas_vindas{
    font-size: 20px;
    color: white;
}

header img{
    width: 180px;
    margin-top: 5px;
}

/*classe cont*/
.cont{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: rgba(224, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: #1C1C1C 1px 2px 10px 3px;
}

/*Estilo do relatorio*/
.relatorio{
    margin: 20px auto;
    background-color: white;
    width: 50%;
}
/*estilo das divs rel que estar dentro de relatorio*/
.rel{
    margin-top: 5px;
}

/*margin de 30px pra qualquer elemento*/
.m30{
    margin-top: 30px; 
}

/*estilo da class de captura , essa classe que recebe o nome do cliente*/
.captura{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.captura p{
    font-size: 25px;
    font-family: cursive;
}
.captura input{
    margin-top: 10px;
    width: 70%;
    height: 30px;
    font-size: 14px;
    border:  solid 0.1px #A9A9A9;
    border-radius: 15px;
    color: #1C1C1C;
    padding: 5px;
    text-align: center;
}

.captura button{
    padding: 5px 10px 5px 10px;
    margin-top: 10px;
    border-radius: 10px;
    border: 0.1px solid #A9A9A9;
    background-color: #3281AF;
    color: white;
    font-family: cursive;
    box-shadow: #1C1C1C 1px 2px 3px 0px;
}
.captura button:hover{
    background-color: white;
    color: #3281AF;
}
/*fim do estilo da div de captura*/


/*estilo do video de explicação*/
.video_explicativo iframe{
    margin-top: 20px;
}

.video_pix iframe{
    margin-top: 20px;
}

/*estilo de informaçao da promessa do pagamento do boleto*/
.texto_info_promessa{
    text-align: center;
    padding: 10px;
    width: 90%;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: #1C1C1C 3px 2px 8px 1px;
    font-family: cursive;
    color: white;
    background-color: 	#708090;
}

/*Estilo do botao que finaliza com o cliente e regarrega a pagina*/
.texto_finalizar{
    text-align: center;
    padding: 5px;
    background-color: #8B0000;
    width: 25%;
    margin: 20px auto;
    border-radius: 10px;
    color: #E0FFFF;
    font-family: cursive;
    box-shadow: #1C1C1C 3px 2px 5px 1px;
}
.texto_finalizar p{
    font-size: 13px;
}

/*Estilo do texto informativo pra anexar o comprovante*/
.texto_info_anexar{
    text-align: center;
    padding: 10px;
    background-color: #9370DB;
    box-shadow: #1C1C1C 4px 4px 8px 1px;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    font-family: cursive;
    color: white;
}

/*essa parte vai ser criada estilos pra padronizar a estilizaçao do sistema*/
.pos{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 90%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.pos button{
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
    border: 0.1px solid #A9A9A9;
    background-color: #3281AF;
    color: white;
    font-size: 15px;
}

.pos button:hover{
    background-color: white;
    color: #3281AF;
}

/*estilo de texto de aviso*/
.texto-info{
    text-align: center;
    padding: 5px;
    background-color: #9370db;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: #1C1C1C 3px 2px 5px 1px;
    font-family: cursive;
    color: white;
}



















